<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tehtava3.Properties.Settings.DBConnection" connectionString="Data Source=eight.labranet.jamk.fi;Persist Security Info=True;User ID=koodari;Password=koodari13;Database=Viini" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>